.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e4eaf2;
}

.layoutHeader,
.layoutFooter {
  color: white;
  width: 100%;
}

.layoutFooter {
  background-color: #333;
}

.layoutHeader {
  background-color: #153d31;
}

/* Центруючий контейнер з max-width */
.layoutContainer {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.layoutContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
}

.layoutMain {
  flex: 1;
  order: 1;
}

.layoutSidebar {
  background-color: #f4f4f4;
  padding: 16px;
  transition: all 0.3s ease;
  width: 250px;
  order: 0;
}

@media (max-width: 1199.98px) {
  .layoutContent {
    flex-direction: column;
  }

  .layoutSidebar {
    width: 100%;
    order: 2;
    margin-top: 16px;
    padding: 12px;
  }
}
