.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e4eaf2;
}

.layoutHeader,
.layoutFooter {
  background-color: #333;
  text-align: center;
  width: 100%;
  color: white;
}

.layoutContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.layoutMain {
  flex: 1;
  max-width: 1400px;
  width: 100%;
  padding: 16px;
  order: 1;
}

.layoutSidebar {
  background-color: #f4f4f4;
  padding: 16px;
  transition: all 0.3s ease;
  width: 250px;

  order: 0;
}

/* Для екранів менше 1200px — сайдбар під основним контентом */
@media (max-width: 1199.98px) {
  .layoutContent {
    flex-direction: column;
  }

  .layoutMain {
    width: 100%;
    order: 1;
    padding: 12px;
  }

  .layoutSidebar {
    width: 100%;
    order: 2;
    margin-top: 16px;
    padding: 12px;
  }
}

/* Для вузьких екранів */
@media (max-width: 575.98px) {
  .layoutMain,
  .layoutSidebar {
    padding: 12px;
  }
}
