.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
}

.movieItem {
  width: 100%;
}

@media (min-width: 576px) {
  .movieItem {
    width: calc((100% - 16px) / 2);
  }
}

@media (min-width: 768px) {
  .movieItem {
    width: 260px; /* фіксована ширина */
    flex-grow: 0;
    flex-shrink: 0;
  }
}
